<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<display-name>UserRegisterServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<display-name>UserLoginServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfessionistaServlet</servlet-name>
  	<display-name>ProfessionistaServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ProfessionistaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GestoreServlet</servlet-name>
  	<display-name>GestoreServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.GestoreServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModificaServlet</servlet-name>
  	<display-name>ModificaServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ModificaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeamServlet</servlet-name>
  	<display-name>TeamServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.TeamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeamViewServlet</servlet-name>
  	<display-name>TeamViewServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.TeamViewServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddMemberServlet</servlet-name>
  	<display-name>AddMemberServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.AddMemberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactMemberServlet</servlet-name>
  	<display-name>ContactMemberServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ContactMemberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OffersPServlet</servlet-name>
  	<display-name>OffersPServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.OffersPServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddPowerServlet</servlet-name>
  	<display-name>AddPowerServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.AddPowerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ModifyTeamServlet</servlet-name>
  	<display-name>ModifyTeamServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ModifyTeamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateAdsServlet</servlet-name>
  	<display-name>CreateAdsServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.CreateAdsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListAdsServlet</servlet-name>
  	<display-name>ListAdsServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ListAdsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CloseAdsServlet</servlet-name>
  	<display-name>CloseAdsServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.CloseAdsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewSystemServlet</servlet-name>
  	<display-name>ReviewSystemServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ReviewSystemServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewTeamServlet</servlet-name>
  	<display-name>ReviewTeamServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ReviewTeamServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewMemberServlet</servlet-name>
  	<display-name>ReviewMemberServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ReviewMemberServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserListServlet</servlet-name>
  	<display-name>UserListServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.UserListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewFounderServlet</servlet-name>
  	<display-name>ReviewFounderServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.ReviewFounderServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeUserServlet</servlet-name>
  	<display-name>HomeUserServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.HomeUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BuyPassServlet</servlet-name>
  	<display-name>BuyPassServlet</display-name>
  	<description></description>
  	<servlet-class>dreamteam.progetto.controllers.BuyPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserRegisterServlet</servlet-name>
  	<url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfessionistaServlet</servlet-name>
  	<url-pattern>/ProfessionistaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GestoreServlet</servlet-name>
  	<url-pattern>/GestoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModificaServlet</servlet-name>
  	<url-pattern>/ModificaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeamServlet</servlet-name>
  	<url-pattern>/TeamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeamViewServlet</servlet-name>
  	<url-pattern>/TeamViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddMemberServlet</servlet-name>
  	<url-pattern>/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactMemberServlet</servlet-name>
  	<url-pattern>/ContactMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OffersPServlet</servlet-name>
  	<url-pattern>/OffersPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddPowerServlet</servlet-name>
  	<url-pattern>/AddPowerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ModifyTeamServlet</servlet-name>
  	<url-pattern>/ModifyTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateAdsServlet</servlet-name>
  	<url-pattern>/CreateAdsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAdsServlet</servlet-name>
  	<url-pattern>/ListAdsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CloseAdsServlet</servlet-name>
  	<url-pattern>/CloseAdsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewSystemServlet</servlet-name>
  	<url-pattern>/ReviewSystemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewTeamServlet</servlet-name>
  	<url-pattern>/ReviewTeamServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewMemberServlet</servlet-name>
  	<url-pattern>/ReviewMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserListServlet</servlet-name>
  	<url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewFounderServlet</servlet-name>
  	<url-pattern>/ReviewFounderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeUserServlet</servlet-name>
  	<url-pattern>/HomeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BuyPassServlet</servlet-name>
  	<url-pattern>/BuyPassServlet</url-pattern>
  </servlet-mapping>
</web-app>
